In [1]:
import pandas as pd

In [2]:
df_d15 = pd.read_excel('/Users/adamzsolt/Desktop/Thesis/RESTART/Datasets/Blanchardstown.xltx')

In [3]:
df_dl = pd.read_excel('/Users/adamzsolt/Desktop/Thesis/RESTART/Datasets/Dun_Laoghaire.xltx')

In [4]:
df_port = pd.read_excel('/Users/adamzsolt/Desktop/Thesis/RESTART/Datasets/Dublin_Port.xltx')

In [5]:
df_stjr = pd.read_excel('/Users/adamzsolt/Desktop/Thesis/RESTART/Datasets/St_Johns_Road.xltx')

In [6]:
df_tal = pd.read_excel('/Users/adamzsolt/Desktop/Thesis/RESTART/Datasets/Tallagh.xltx')

In [7]:
df_d15.head()

,"Air Quality Levels at Blanchardstown, Dublin 15",Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Date and Time,NO2,PM10,PM2.5
1,2020-07-01 00:00:00,1.77,13.64,8
2,2020-07-01 01:00:00,2.12,10.91,7.48
3,2020-07-01 02:00:00,1.59,13.06,6.78
4,2020-07-01 03:00:00,0.58,17.97,9.55

In [8]:
df_d15['Location']= "Blanchardstown"

In [9]:
df_dl['Location']= "DunLaoghaire"

In [10]:
df_port['Location']= "DublinPort"

In [11]:
df_stjr['Location']= "StJohnsRoad"

In [12]:
df_tal['Location']= "Tallagh"

In [13]:
def preprocess_data(df):
    
    # Renaming the first column to 'Date'
    df.columns.values[0] = 'Date'
    
    # Renaming columns
    df.rename(columns={'Unnamed: 1': 'NO2', 'Unnamed: 2': 'PM10', 'Unnamed: 3': 'PM2.5'}, inplace=True)
    
    # Dropping the first observation (first row)
    df.drop(0, inplace=True)
    
    # Resetting the index after dropping the first row
    df.reset_index(drop=True, inplace=True)
    
    return df

In [14]:
df_d15 = preprocess_data(df_d15)

In [15]:
df_dl = preprocess_data(df_dl)

In [16]:
df_port = preprocess_data(df_port)

In [17]:
df_stjr = preprocess_data(df_stjr)

In [18]:
df_tal = preprocess_data(df_tal)

In [19]:
# Concatenating DataFrames vertically based on 'Date' column
dfs = pd.concat([df_d15, df_dl, df_port, df_stjr, df_tal], ignore_index=True)
dfs.drop(dfs.columns[-1], axis=1, inplace=True)
dfs.head()

                  Date   NO2   PM10  PM2.5        Location
0  2020-07-01 00:00:00  1.77  13.64      8  Blanchardstown
1  2020-07-01 01:00:00  2.12  10.91   7.48  Blanchardstown
2  2020-07-01 02:00:00  1.59  13.06   6.78  Blanchardstown
3  2020-07-01 03:00:00  0.58  17.97   9.55  Blanchardstown
4  2020-07-01 04:00:00 -0.61  17.97  11.05  Blanchardstown